---
layout: layouts/base.njk
---

<div class="grid gap-4 my-12 px-8 w-full justify-center m-auto bg-slate-50">

    <h2 class="text-2xl font-semibold">Your submission has been received!</h2>
    <p class="h-full">We will be in contact shortly. In the meantime, you can 
            <a href="/#process" class="transition-all  underline hover:underline-2 underline-offset-2">learn more about our process</a>.
        </p>
    <div class="flex">

        <a href="/" class="transition-all -lg hover:ring-2 ring-slate-800 ring-offset-2 px-4 py-2 bg-slate-800 text-slate-50">Go Back</a>

    </div>
</div>