<header class="sticky top-0 transition-all   backdrop-blur-lg duration-500 z-50 w-full transform"
    x-data="{
            prevScrollPos: 0,
            hideNavBar: false,
            mobileMenu: window.innerWidth < 768,
            open: window.innerWidth > 768,
            toggle() {
                if (window.innerWidth > 768) return
                if (this.open) {
                    return this.close()
                }
 
                this.$refs.button.focus()
 
                this.open = true
            },
            close(focusAfter) {
                if (window.innerWidth > 768) return
                if (! this.open) return
 
                this.open = false
 
                focusAfter && focusAfter.focus()
            }
        }"
     x-init="window.addEventListener('scroll', () => {
    hideNavBar = window.scrollY > prevScrollPos && window.scrollY > 100 && (!open || !mobileMenu);
    prevScrollPos = window.scrollY;
    });"
    :class="{ '-translate-y-full': hideNavBar }"
    x-on:keydown.escape.prevent.stop="close($refs.button)"
    x-on:focusin.window="! $refs.panel.contains($event.target) && close()"
    x-on:resize.window="window.innerWidth > 768 ? open = true : open = false"
    x-id="['dropdown-button']">
    <nav class="transition-all duration-500 border-b border-slate-800 p-2 px-4  overflow-hidden   flex justify-between items-center" >
        <div class="grid md:flex flex-grow">
            <div class="flex items-center w-full">
                <a href="/" class="text-2xl w-32">
                    {% image 'logo.svg', 'logo'%}
                </a>
                <button
            x-ref="button"
            x-on:click="toggle()"
            :aria-expanded="open"
            :aria-controls="$id('dropdown-button')"
            type="button"
            class="md:hidden flex items-center ml-auto"
        >
                    <?xml version="1.0" encoding="utf-8"?>
                    <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                    <svg class="w-8 h-8" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M3 6C3 5.44772 3.44772 5 4 5H20C20.5523 5 21 5.44772 21 6C21 6.55228 20.5523 7 20 7H4C3.44772 7 3 6.55228 3 6ZM3 12C3 11.4477 3.44772 11 4 11H20C20.5523 11 21 11.4477 21 12C21 12.5523 20.5523 13 20 13H4C3.44772 13 3 12.5523 3 12ZM3 18C3 17.4477 3.44772 17 4 17H20C20.5523 17 21 17.4477 21 18C21 18.5523 20.5523 19 20 19H4C3.44772 19 3 18.5523 3 18Z" fill="#0F1729"/>
                    </svg>
                </button>
            </div>

            <div class="flex items-center w-full p-4 md:p-0"
            x-ref="panel"
            x-show="open"
            x-transition.origin.top.left
            x-on:click.outside="close($refs.button)"
            :id="$id('dropdown-button')"
            style="display: none;">
                <div class="grid md:grid-flow-col gap-4 -ml-2 md:ml-auto items-center">

                    {% for item in navitems %}
                        <a href="{{ item.url }}" class="link transition-all border-b-slate-800 cursor-pointer px-2" x-bind:class="{'-md hover:ring-2 ring-slate-800 ring-offset-2 px-4 py-2 bg-slate-800 text-slate-50': {{item.highlight}}, 'hover:border-b-2': {{item.highlight !== true}}}">{{ item.title }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </nav>
</header>